[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
gensim = "*"
opencv-python = "*"
keras = "*"
pandas = "*"
sklearn = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
click = "*"

[requires]
python_version = "3.6"
